/* Задний фон в виде картинки */
.bg {
  background-image: url(img/Background.png);
  /* background-repeat:no-repeat; */
  background-size: cover;
  /* background-position: 70% 0% !important;  */
}

/* Основные части */
.container{
  background: rgba(0,0,0,0.5);
  color: white !important;
  padding: 20px;
}

main section{
  padding: 50px !important;
  margin-bottom: 2px
}

/* Навигационное меню */
header nav {
  max-width: 960px;
  mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 4%, #ffffff 95%, rgba(255, 255, 255, 0) 100%);
  margin: 0 auto;
  padding: 60px 0;
}

header nav ul {
  text-align: center;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.3) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(255, 255, 255, 0) 200%);
  /* box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), inset 0 0 1px rgba(255, 255, 255, 0.6); */
}

header nav ul li {
  display: inline-block;
  padding: 8px 0px;
}

header nav ul li a {
  padding: 18px;
  font-family: sans-serif;
  text-transform:uppercase;
  color: rgba(255, 255, 255, 0.5)!important;
  font-size: 18px;
  text-decoration: none;
  display: block;
  text-shadow: 2px 2px 5px white;
  
}

header nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgb(255, 153, 0) !important;
}

header .active{
  color: rgb(255, 136, 0) !important;
}

/* Блок с профилем */
.banner-section .card{
	width: 150px;
  height:200px;
	border: none;
	border-radius: 30px;
  background: rgb(0, 0, 0,0.4)!important;
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 75%);
  mask-image: linear-gradient(to bottom, transparent 1%, black 75%);;
  transform: scale(0.9) translate(-180%, -20%);
  
}

.banner-section img{
  padding-top: 20px;
  width: 100%;
}

.banner-section .btn-primary{
	border: none;
  transform: translatey(-10px);
	border-radius: 8px;
	width: 70px;
	color: #DFEFFF;
	background-color: #ffc354!important;
  color: black!important;
}
.banner-section .btn-primary:focus{
	box-shadow: none;
	outline: none;
}
.banner-section .btn-primary:hover{
	background-color: #ff7300 !important;
  color: white!important;
}

/* Популярное */
.wpb_wrapper .section{
  padding-top: 5px;
  padding-bottom: 10px
}

.wpb_wrapper .details a{
  color:rgb(255, 136, 0) !important;
  text-decoration: none;;
}

.wpb_wrapper .image-box .box, .image-box.box{
  text-align: left;
  margin-bottom: 5px
}

.wpb_wrapper .hover-effect{
  display: block;
  position: relative;
  background: none;
  overflow: hidden
}

.wpb_wrapper .image-box .box>.details, .image-box.box>.details{
  padding: 2px 5px
}


/* Слайдер */
.carousel-item {
  height: 40vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 20px;
  margin-bottom: 10px;
}

.carouseltransparentblock{
  background: rgba(0,0,0,0.5);
  color: white !important;
  padding: 20px;
}

.carouseltransparentblock a{
  text-decoration: none;
  color: white;
}

/* О нас */
.upper-links {
  display: inline-block;
  padding: 0 11px;
  line-height: 23px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0;
  color: inherit;
  border: 3px rgba(255, 166, 0, 0.1) solid;
  outline: none;
  font-size: 18px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 0px;
}

.dropdown:hover {
  background-color: rgba(255, 255, 255, 0.5) transparent;
}

.dropdown:hover .links {
  color: orange;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  position: absolute;
  top: 100%;
  display: none;
  background-color: #fff;
  color: #333;
  left: 0px;
  border: 0;
  border-radius: 0;
  box-shadow: 0 4px 8px -3px #555454;
  margin: 0;
  padding: 0px;
}

.links {
  color: #fff;
  text-decoration: none;
}

.links:hover {
  color: #fff;
  text-decoration: none;
}

.profile-links {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #000000;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  display: block;
  padding: 0 11px;
  line-height: 23px;
}

.profile-li{
  padding-top: 2px;
}

.largenav {
  display: none;
}

.smallnav{
  display: block;
}

.smallsearch{
  margin-left: 15px;
  margin-top: 15px;
}

.menu{ 
  cursor: pointer; 
}

@media screen and (min-width: 768px) {
  .largenav {
      display: block;
  }
  .smallnav{
      display: none;
  }
  .smallsearch{
      margin: 0px;
  }
}

/* Поиск по сайту */

.input-group button{
  background-color: rgb(241, 173, 45) !important;
  margin-left: 10px;
}

.input-group button:hover{
	background-color: #ff7300 !important;
}

.input-group .form-control:focus{
  box-shadow: none;
  border:none;
  color: #ff7300;
}


/* 3д слайдер */
.centrifugue .container {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  perspective: 1000px;
  background-color: transparent !important;
}

.centrifugue #carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 30s infinite linear
}

.centrifugue #carousel:hover {
  animation-play-state: paused
}

.centrifugue #carousel figure {
  display: block;
  position: absolute;
  width: 90%;
  height: 50%px;
  left: 10px;
  top: 10px;
  background: black;
  overflow: hidden;
}

.centrifugue #carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px)
}

.centrifugue #carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px)
}

.centrifugue #carousel figure img{
  height:150px;
}
.centrifugue img:hover {
  transform: scale(1.2, 1.2)
}

@keyframes rotation {
  from {
      transform: rotateY(0deg)
  }

  to {
      transform: rotateY(360deg)
  }
}

/* Блок новостей */
main a h4 span{
  color: orange !important;
}

main .registration-right{
  width: 80%;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .registration-right h2{
  color: #ffffff;
  font-weight: 700;
  padding-bottom: 20px;
}
main .registration .btn{
  width: 100%;
}
main .fa, .fas, .fab{
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
main .far{
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
}

main .event-list .card{
  background-color: rgba(0, 0, 0, 0.63);
  padding: 18px;
  margin-bottom: 10px;
}
main .event-list img{
  width: 160px;
  height: 160px;
}
main .event-list h4{
  color: #c0bfc9;
  font-size: 16px;
}
main .event-list .card-title span{
  padding-left: 5px;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 700;
}
main .event-list .card-text{
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
}
main .event-list .card-body{
  padding: 0 20px;
  margin: 0 0 10px 0;
}
main .event-list .card-title svg{
  color: #ffffff;
}

/* Социальные сети */
.well img{
  width: 100%;
  padding-left: 1%;
}

.well .container ul{
  display:flex;
}

.well .container ul li{
  overflow:hidden;
  list-style:none;
  margin:5px;
  height:50px;
  width:50px;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  border-radius:4px;
  cursor:pointer;
  position:relative;
  z-index:1;
  transition:all 0.5s;
}

.well .container ul li span{
  display:none;
  font-size:14px;
  margin-left:4px;
  transition:all 4s;
  transition-delay:1s;
  color: white;
}

.well .container ul li:hover span{
  display:block;
}

.well .container ul li:hover{
  width:90px;
  height:50px;
  display:flex;
  justify-content:left;
  padding-left:10px;
}

/* Реклама */
.well a.img-caption {
  margin: 0 0 40px;
  display: block
}

.well .img-caption img {
  position: relative;
  height:300px;
}

.well .img-caption figure {
  box-sizing: content-box;
  overflow: hidden;
  position: relative
}

.well .img-caption figcaption {
  background: rgba(0, 0, 0, .4);
  position: absolute;
  box-sizing: content-box;
  padding: 30px 10px;
  bottom: 0;
  display: block;
  width: 100%;
  -webkit-transition: background-color .2s ease-in-out;
  -moz-transition: background-color .2s ease-in-out;
  -ms-transition: background-color .2s ease-in-out;
  -o-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out
}

.well .img-caption:hover figcaption {
  background: black;
}

.well .img-caption figcaption h3 {
  color: #fff;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 24px
}

.well .mega .img-caption figcaption h3 {
  font-size: 14px;
  line-height: 20px
}

.well .mega .img-caption figcaption span {
  font-size: 14px;
  line-height: 14px
}

.well .mega .img-caption figcaption {
  padding: 10px 20px
}

.well .img-caption figcaption span {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 16px;
  display: block;
  position: relative;
  opacity: 0;
  max-height: 0;
  padding: 0;
  -webkit-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -moz-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -ms-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  -o-transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out;
  transition: max-height .2s ease-in-out, opacity .2s ease-in-out, padding .2s ease-in-out
}

.well .img-caption:hover figcaption span {
  max-height: 50px;
  opacity: 1;
  padding: 5px 0 4px
}

/* Разное */
.title a{
  text-decoration: none;
  color: #ffc354 !important;
}

.title a:hover{
  text-decoration: underline;
  color: #ff7300 !important;
}

/* Футер */
footer{
  -webkit-mask-image: linear-gradient(to bottom, transparent 1%, black 95%);
  mask-image: linear-gradient(to bottom, transparent 1%, black 15%);;
}
footer h5{
  color:#ff7300;
}

footer .nav-list{
  color: #ffc354 !important;
}

footer a:hover{
  color: #ffc354 !important;
}

/* Адаптивная гиф анимация с майнкрафтом */
.steveminecraft{
  max-width: 100%; 
  width: auto; 
  height: auto;
 }
@media only screen and (min-width: 1000px){
   /* Для профиля в широком экране - видимость */
  .banner-section{
    visibility: visible !important;
  }
  /* Профиль в хедере - видимость */
  .profileheader{
    visibility: hidden !important;
  }
}
/* Адаптив для главной страницы - телефон*/
@media only screen and (min-width: 768px){
  /* Задний фон */
  .bg{
    background-position: 56% 0% !important;
  }
  /* Кнопка для меню */
  .navbar-toggler {
    transform: translate(-770%, -40%);
    border-color: #ff7300 !important;
    mask-image: linear-gradient(to bottom, transparent 1%, black 15%);;
  }
  /* Блок профиля - видимость */
  .banner-section{
    visibility: hidden;
  }
  /* Профиль в хедере - видимость */
  .profileheader{
    visibility: visible;
  }
}
/* Адаптив текста */
body h2{
  font-size: 20px;
}
body h1{
  font-size: 20px;
}
body h4{
  font-size: 16px;
}
body h5{
  font-size: 14px;
}
body p{
  font-size: 14px;
}
@media (min-width: 768px) {
  body h2{
    font-size: 20px;
  }
  body h1{
    font-size: 20px;
  }
  body h4{
    font-size: 16px;
  }
  body h5{
    font-size: 14px;
  }
  body p{
    font-size: 14px;
  }
}
@media (min-width: 1200px) {
  body h2{
    font-size: 34px;
  }
  body h1{
    font-size: 24px;
  }
  body h4{
    font-size: 24px;
  }
  body h5{
    font-size: 24px;
  }
  body p{
    font-size: 20px;
  }
}
/* Адаптив 3д слайдера */
@media (min-width: 768px) {
  .centrifugue #carousel figure img{
    height: 120px;
  }
  .centrifugue .container {
    margin: 3% auto;
    width: 200px;
    height: 100px;
    perspective: 1%;
    background-color: transparent !important;
  }
}
